html{
  margin:0 auto;
}
.infoRow{
  margin: 1em auto;
  width: 70%;
  text-align: center;
}
.navbar{
  padding: 2em 1em 2em 1em;
  font-weight: bolder;
}
.navbar .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    border-bottom: 2px solid #00AB88;
    position: relative;
    text-decoration-color: blue;
    color: #FFC0CB;
}
 .active {
  border-bottom: 2px solid #00AB88;
}
@media only screen and (min-width: 600px) {
  .navbar{
    margin: 0 7em 0 7em;
  }
}

@media only screen and (max-width: 600px) {
  .carousel{
    display: none;
  }
}
.jumbotron{
  margin-bottom: 0 ;
}
h4{
  color: #00AB88;
}
.infoRow .col-md-4 .infoElement{
  background-color: #edeeef;
  border-radius: 20px;
  padding: 1em;
  min-height: 17em;
}
.carousel-caption{
  color:black;
}
a:hover {
  text-decoration: none;
  color: inherit;
 }
a {
  color: inherit;
}
.footer .row {
  background: #3e3e3f;
  color: white;
  padding:1em 15em 1em 15em;
}
@media only screen and (max-width: 600px) {
  .footer .row{
    padding:0;
  }
}
.aboutContent{
  display: flex;
}
.contentBlog{
  align-self: center;
  max-width: 50%;
  text-align: justify;
  margin-top: 1em;
}
.contentBlog img {
  text-align: center;
}
.deepfooter{
  background-color:#191919;
  color:white;
  font-family: monospace;
  text-align: center;
  width: auto;
}
.btn-info{
  background-color: #00AB88;
}
.map {
        height: 400px;
        width: 100%;
       }
